$colors: (
    krevet: #EF8B77,
    main1: #0E4B66,
    main2: #F2F2F2,
    nav: #E8E8E8,
    blueButton: #B0DCDE,
    redButton: #dd4141,
    textc: #134C67,
    text1: #124B66,
    text2: #56869C,
);

@each $color-name, $color-value in $colors {
    .bg-#{$color-name} {
        background-color: $color-value;
    }
}

@each $color-name, $color-value in $colors {
    .custom-color-#{$color-name} {
        color: $color-value;
    }
}

@each $color-name, $color-value in $colors {
    .border-color-#{$color-name} {
        border-color: $color-value;
    }
}

.inter-700 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

// body {
//     zoom: 0.9;
// }




@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";